.listMessages {
    height: 70vh;
    width: 90%;
    list-style: none;
    overflow: auto;
}

.message {
    margin: 10px;
    text-align: left;

}
  
.currentMember {
  margin-top: 10px;
    text-align: right;
}

.messageText {
    padding: 10px;
    border-radius: 10px;
    background-color: #17222c;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
}
  
img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
  
.username {
  display: block;
  color: rgb(51, 51, 185);
  font-size: 1.2rem;
  padding: 4px;
}