.input-container{
    width: 100%;
    margin: auto 100px;
}
.input-input{
  margin: 10px 10px;
  width: 40vw;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #00008b;
}
.input-button{
    width: 10vw;
    padding: 5px 10px;
    font-size: 18px;
    color: black;
    border: 1px solid #00008b;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}