.login-container{
    width: 45vw;
    height: 70vh;
}
.login-header{
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
.input-username{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.input-username p {
    font-weight: bold;
    margin: 0 30px;
}
.input-username input{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
}
.input-checkbox{
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px 160px;
}
.input-checkbox input{
    margin: 10px;
    width: 20px;
    cursor: pointer;
}
.input-button{
    width: 130px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
}

.login-avatar-container{
    width: 55%;
    margin: 30px auto;
}
.login-avatar{
    display: inline;
}
.image{
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin: 10px 30px;
}
.input-button:hover,
.image:hover{
    opacity: 0.5;
}
.choise-avatar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 20px;
    font-weight: bold;
}
.choise-avatar > p{
   padding: 15px;
}
