* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, rgb(18, 81, 83) , rgb(44, 171, 173), rgb(43, 169, 172));
  font-family: monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 70vw;
  margin: 50px auto;
}
